@import url(https://fonts.googleapis.com/css?family=Montserrat|Neuton:300);

/*Page Structure*/

body {
  width: 100%;
  box-sizing: border-box;
  background-color: #F2F2F2;
}

#bank {
  border: 0.2em solid #00BEFF;
  width: 60%;
  margin: 10em;
  background-color: #16E3B3;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em;
}

.account {
  border: 0.3em solid #00BEFF;
  padding: 5%;
  margin: 0 auto;
  margin-bottom: 2em;
  width: 70%;
  background-color: #F2F2F2;
  display: block;
  text-align: center;
}

.error {
  height: 2em;
  display: block;
}

/*Typography*/

h1 {
  font-size: 5em;
  font-family: 'Montserrat', sans-serif;
  color: #2E3943;
  font-size: 2em;
  text-align: center;
  padding: 1em 0 1em 0;
}

h2 {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  color: #2E3943;
}

p {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #2E3943;
}

.error p {
  color: #D22F2F;
}

/*Input*/

input[type="number"] {
  font-family: 'Neuton', serif;
  font-size: 1em;
  padding: 0.5em;
  display: block;
  margin: 0 auto;
}

input[type="button"] {
  font-family: 'Neuton', serif;
  font-size: 1em;
  color: #FFF;
  padding: 0.4em;
  margin: 0.5em 0 0 0;
  background-color: #4479BA;
  border: 0;
  border-radius: 4px;
  display: inline-block;
}

input[type="button"]:hover, input[type="button"]:focus {
    background: #356094;
}
